<h1 class=text-center>バイク詳細</h1>
<section class="card border-dark mt-5">
  <div class=card-header>
    <h4><%= @motorcycle.name %></h4>

  </div>
  <div class= "card-body">
    <%# <div class=text> %>
      <p class="card-text">排気量　<%= @motorcycle.displacement%>cc</p>
      <p class="card-text">種類　　<%= @motorcycle.car_type %></p>
      <p class="card-text">説明　　<%= simple_format(h @motorcycle.content) %></p>
    </div>
  </div>
    
  </section>
  