<% if @motorcycle.errors.any? %>
  <div>
    <ul>
      <%= @motorcycle.errors.full_message.each do |msg| %>
        <li><span style="color: red;"><%= msg %></li></span>
      <% end %>
    </ul>
  </div>
<% end %>